<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <title>Court Forms</title>

</head>

<body>
    <p class="hidden-print"><div class="hidden-print">Court Forms: <a href="/index">Go Back</a></div></p>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</html>